.controls {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}
.controls__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 120px;
    position: relative;
    &.end {
        .controls__button {
          margin-right: 0;
        }
    }
    &.left {
      width: 220px;
    }
}
.controls__button {
    display: flex;
    height: 50px;
    width: 100px;
    margin-right: 20px;
    justify-content: center;
}

.controls__upload {
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #e91e63;
    padding: 0 20px;
    border-radius: 5px;
    height: 150px;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
}

.upload__capture {
    margin-right: 20px;

    &.url {
      margin-right: 0;
    }
}

.upload__button-icon {
    max-width: 25px;
    max-height: 25px;
    fill: #fff;
}
.upload__divider {
  font-size: 2em;
  color: #fff;
  display: block;
  align-items: center;
}
.upload__text {
  flex: 1 0 100%;
}
